<app-emoji-picker *ngIf="showEmojiPicker[inputEmojiPickerId]" [buttonRect]="buttonRects[inputEmojiPickerId]"
    (emojiSelected)="handleEmojiSelection($event)" class="emoji-picker"></app-emoji-picker>

<app-object-picker #objectPickerRef *ngIf="objectSelectorIsOpen" [contents]="loadedObjects" [isLoading]="isLoading"
    [ngStyle]="pickerPosition" class="object-picker"
    (selectedObject)="addMentionToMessage($event.object, $event.objectType)"></app-object-picker>

<section class="message-edit-container">
    <div class="message-edit-input-content">
        <div class="message-edit-field">
            <div class="editable-message" contenteditable="true" #editableDiv (input)="onEditInput()"
                (keyup)="onKeyup($event)" (click)="closePickers()" [attr.data-placeholder]="'Bitte gib eine Nachricht ein, du kannst keine leere senden.'"></div>
        </div>
        <div class="message-edit-icons-container">
            <div class="message-edit-prefix-icons">
                <button class="icon-btn" (click)="openEmojiPicker($event, inputEmojiPickerId)">
                    <mat-icon>sentiment_satisfied</mat-icon>
                </button>
                <button class="icon-btn" (click)="openUserSelector($event)">
                    <mat-icon>alternate_email</mat-icon>
                </button>
            </div>
            <div class="message-edit-btn-container">
                <button class="secondary-btn" (click)="cancelEdit(message.messageId)">
                    Abbrechen
                </button>
                <button class="primary-btn" [disabled]="!messageContent || !messageContent.trim()"
                    [ngClass]="{'btn-disabled': !messageContent || !messageContent.trim()}"
                    (click)="saveMessage(message.messageId)">
                    Speichern
                </button>
            </div>
        </div>
    </div>
</section>