<section class="channel-container" *ngIf="(messagesWithUserData$ | async) as messages">
    <div class="channel-content" *ngFor="let message of messages; trackBy: trackByMessageId; let i = index; let isLast = last">
        <div [id]="'message-' + message.messageId">
            <app-message-timestamp *ngIf="shouldShowTimestamp(message, i)"
                [timestamp]="message.timestamp"></app-message-timestamp>
            <app-message-content *ngIf="!messageEditMode[message.messageId]" [message]="message"
                [sortedReactions]="sortedReactions" [messageAnswers]="messageAnswers"></app-message-content>
            <app-message-edit *ngIf="messageEditMode[message.messageId]" [message]="message"
                (updateMessage)="updateMessage({ messageId: $event.messageId, message: $event.content })"></app-message-edit>
        </div>
    </div>
</section>