<section class="search-input-container">
        <input [(ngModel)]="searchTerm"  class="search-input" placeholder="Devspace durchsuchen"
        (input)="onSearchChange()">
        <button class="search-input-button">
            <mat-icon>search</mat-icon>
        </button>
        <app-object-picker 
            *ngIf="objectSelectorIsOpen" 
            [ngStyle]="calculateObjectSelectorPosition(inputRects)"
            [contents]="filteredObjects"
            [isLoading]="isLoading"  
            (selectedObject)="selectedObject($event.objectId, $event.objectType)">
        </app-object-picker>
</section>