@use 'mixins.scss' as *;
@use '@angular/material' as mat;

.search-input-container {
    @include dFlex();
    position: relative;
    width: 100%;
    height: 70px;

    .search-input {
        width: 100%;
        height: 70px;
        background-color: $white;
        border-radius: 42px;
        outline: none;
        border: none;
        font-family: "Nunito";
        font-size: 24px;
        font-weight: 400;
        padding: 0 95px 0 45px;

        &:empty::before {
            content: attr(placeholder);
            color: $text-gray;
        }
    }

    .search-input-button {
        position: absolute;
        right: 45px;
        width: 40px;
        height: 40px;
        @include dFlex();
        background-color: $white;
        color: $text-gray;

        &:hover {
            color: $purple-3;
        }

        mat-icon {
            width: 40px;
            height: 40px;
            font-size: 35px;
            @include dFlex();
        }
    }
}

app-object-picker {
    position: relative;
    z-index: 3000;
}