<form class="search-input-container">
    <mat-form-field class="input-container" appearance="fill">
        <input type="text" matInput placeholder="Devspace duchsuchen" [(ngModel)]="searchTerm" (input)="onSearch()"
            name="search">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</form>

<div *ngIf="filteredUsers.length > 0 && searchTerm.includes('@')" class="search-suggestions-list">
    <div *ngFor="let user of filteredUsers" (click)="onSelectUser(user)" class="search-suggestions-list-item">
        <div class="search-suggestions-list-item-img-container">
            <div class="search-suggestions-list-user-online-status" [ngClass]="user.status"></div>
            <img class="search-suggestions-list-item-img" src="assets/img/profile-images/profile-{{ user.img }}.png"
                alt="logo">
        </div>
        <span class="search-suggestions-list-item-text">
            {{ user.firstName }} {{ user.lastName }}
        </span>
    </div>
</div>


<div *ngIf="filteredChannels.length > 0 && searchTerm.includes('#')" class="search-suggestions-list">
    <div *ngFor="let channel of filteredChannels" (click)="onSelectChannel(channel)"
        class="search-suggestions-list-item">
        <div class="search-suggestions-list-item-text">
            #{{ channel.channelName }}
        </div>
    </div>
</div>