@use 'mixins.scss' as *;
@use '@angular/material' as mat;

.search-input-container {
    @include dFlex($jc: start);
    width: 100%;
    flex-grow: 1;

    .input-container {
        width: 100%;
        max-width: 989px;
        margin-right: 149px;
        margin-left: 118px;
        height: 70px;
        background-color: $white;
        border-radius: 42px;
        align-items: center;
        text-align: center;

        button {
            height: 47px;
            width: 47px;
            margin-right: 45px;
            @include dFlex();
            border-radius: 50px;
            border: none;
            background-color: $white;

            mat-icon {
                color: $text-gray;
                font-size: 35px;
                width: 35px;
                height: 35px;
            }

            &:hover {
                cursor: pointer;
                background-color: $bgcolor;

                mat-icon {
                    color: $purple-1;
                }
            }
        }

        @include mat.form-field-overrides((outlined-container-shape: 42px,
                outlined-outline-color: $white,
                outlined-focus-outline-color: $white,
                outlined-hover-outline-color: $white,
                outlined-input-text-placeholder-color: $text-gray,
                container-text-size: 24px,
                container-text-font: "Nunito",
            ));
    }
}

::ng-deep .mdc-text-field {
    align-items: center !important;
}