<section class="status-menu">
    <div class="profile-bottom-sheet-handle-container">
        <div class="profile-bottom-sheet-handle" (click)="openLink($event)"></div>
    </div>
    
    <button (click)="changeUserStatus('online')">
        <div class="btn-container">
            <div class="status-icon online"></div>
            Online
        </div>
    </button>
    <button (click)="changeUserStatus('away')">
        <div class="btn-container">
            <div class="status-icon away"></div>
            Away
        </div>
    </button>
    <button (click)="changeUserStatus('busy')">
        <div class="btn-container">
            <div class="status-icon busy"></div>
            Busy
        </div>
    </button>
    <button (click)="changeUserStatus('offline')">
        <div class="btn-container">
            <div class="status-icon offline"></div>
            Offline
        </div>
    </button>
</section>