<mat-card>
  <mat-card-header>
    <!-- img für Return einfügen  -->
    <mat-card-title>Impressum</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h3>Angaben gemäß § 5 TMG (Telemediengesetz):</h3>
    <h3><b>Projektname:</b> DABubble</h3>
    <h3><b>Betreiber:</b></h3>
    <ul>
      <li>Konstantin Aksenov</li>
      <li>Dennis Freyer</li>
      <li>Patrick Klein</li>
      <li>Jessica Manczak</li>
      <li>Csaba Miska</li>
    </ul>
    <p>
      <b>Adresse der Weiterbildungsstätte:</b><br />
      Developer Akademie<br />
      Tassilopl. 25<br />
      81541 München, Deutschland
    </p>
    <h2>Haftungsauschluss:</h2>
    <p>
      Die Inhalte auf dieser Webseite wurden mit größtmöglicher Sorgfalt
      erstellt. Für die Richtigkeit und Vollständigkeit der Inhalte übernehmen
      wir jedoch keine Haftung.
    </p>
    <h2>Verwendung:</h2>
    <p>
      Diese Webseite dient ausschließlich zu Weiterbildungs- und
      Portfoliozwecken. Sie ist nicht für kommerzielle Werbung oder gewerbliche
      Nutzung gedacht.
    </p>
    <h2>Urheberrecht:</h2>
    <p>
      Die durch die Betreiber der Webseite erstellten Inhalte und Werke auf
      dieser Webseite unterliegen dem deutschen Urheberrecht. Jegliche
      Vervielfältigung, Verbreitung oder Nutzung von Inhalten, die nicht
      ausdrücklich vom Urheberrechtsinhaber erlaubt ist, bedarf der vorherigen
      schriftlichen Zustimmung.
    </p>
  </mat-card-content>
</mat-card>
