@use 'mixins.scss' as *;

mat-card {
    user-select: none;
    background-color: $white;
    max-width: 800px; 
    margin: 20px auto;
    padding: 20px;

    mat-card-title {
        font-size: 32px;
        color: $purple-1;
    }

    h2 {
        color: $purple-1;
    }
}