<section class="message-container">
    <div *ngFor="let message of messagesWithUserData$ | async" class="message-content-container">
        <div class="timestamp-container">
            <div class="line-style"></div>
            <div class="timestamp">{{ message.timestamp | date:'EEEE, d MMMM' }}</div>
            <div class="line-style"></div>
        </div>
        <div class="message-content" [ngClass]="{'chat-bubble-reverse-positioning': !message.isSender }">
            <div class="message-content-user-content">
                <div class="message-content-user-name" [ngClass]="{'chat-bubble-reverse-positioning': !message.isSender }">
                    <span class="message-timestamp">{{ message.timestamp | date:'HH:mm'}} Uhr</span>
                    <span class="message-user-name">{{ message.senderData.name }}</span>
                </div>
                <div class="message-content-user-message" [ngClass]="{'chat-bubble-reverse-positioning': !message.isSender }">
                    <span class="message-bubble" [ngClass]="{'chat-bubble-reverse-desing': !message.isSender }">{{ message.content }}</span>
                </div>
                <div class="message-content-message-reaction-container" [ngClass]="{'chat-bubble-reverse-positioning': !message.isSender }">
                    <div class="reacted-icons-container">
                        <mat-icon>rocket_launch</mat-icon>
                        <span>1</span>
                    </div>
                    <div class="reacted-icons-container">
                        <mat-icon>check_circle</mat-icon>
                        <span>3</span>
                    </div>
                    <div>
                        <mat-icon>add_reaction</mat-icon>
                    </div>
                </div>
            </div>
            <div class="message-content-user-img" [ngClass]="{'avatar-reverse-design': !message.isSender }">
                <img src="{{ message.senderData.avatar }}" alt="Avatar">
            </div>
        </div>
    </div>
</section>