<app-emoji-picker *ngIf="showEmojiPicker[inputEmojiPickerId]" [buttonRect]="buttonRects[inputEmojiPickerId]"
    (emojiSelected)="handleEmojiSelection($event)" class="emoji-picker"></app-emoji-picker>

<app-object-picker #objectPickerRef *ngIf="objectSelectorIsOpen" [contents]="loadedObjects" [isLoading]="isLoading"
    [ngStyle]="pickerPosition" class="object-picker" (selectedObject)="addMentionToMessage($event.object, $event.objectType)"></app-object-picker>

<section class="new-message-input-container">
    <form class="new-message-input-content" (ngSubmit)="getCurrentMessage()">
        <div class="new-message-input-field">
            <div class="new-message-editable" contenteditable="true" (input)="onInput($event)" (keyup)="onKeyup($event)"
                (keydown.enter)="handleEnter($event)" (click)="closePickers()"
                [attr.data-placeholder]="placeholderText + ' ' + messageReceiver" #messageEditor>
            </div>
            <!-- <textarea type="text" [(ngModel)]="messageContent" (keydown.enter)="handleEnter($event)"
                (click)="closePickers()" placeholder="{{ placeholderText }} {{ messageReceiver }}" rows="4"
                #messageTextarea>
        </textarea> -->
        </div>
        <div class="new-message-icons-container">
            <div class="new-message-prefix-icons">
                <button class="prefix-icon" type="button" (click)="openEmojiPicker($event, inputEmojiPickerId)">
                    <mat-icon>sentiment_satisfied</mat-icon>
                </button>
                <button class="prefix-icon" type="button" (click)="openUserSelector($event)">
                    <mat-icon>alternate_email</mat-icon>
                </button>
            </div>
            <button class="sufix-icon" type="submit" [disabled]="!messageContent || !messageContent.trim()"
                [ngClass]="{'btn-disabled': !messageContent || !messageContent.trim()}">
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </form>
</section>