@use 'mixins.scss' as *;
@use '@angular/material' as mat;

.logo-container {
    @include dFlex();

    .logo-content {
        .logo {
            width: 242.11px;
            height: 70px;

            @media (max-width: 560px) {
                width: 204px;
                height: 56px;
            }
        }
    }
}