<div class="password-reset-wrapper">
  <mat-card class="password-reset-card" appearance="outlined">
    <mat-card-actions class="top-actions-desktop">
      <button class="arrow-back-btn" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-actions>

    <mat-card-header class="card-header">
      <mat-card-actions class="top-actions-mobile">
        <button class="arrow-back-btn" mat-icon-button>
          <mat-icon>arrow_back</mat-icon>
        </button>
      </mat-card-actions>

      <mat-card-title
        ><h1 class="card-title-mobile">
          Passwort<br />
          zurücksetzen
        </h1>
      </mat-card-title>

      <mat-card-title>
        <h1 class="card-title-desktop">Passwort zurücksetzen</h1>
      </mat-card-title>

      <mat-card-subtitle>
        <p class="card-subtitle">Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="emailFormReset">
        <mat-form-field
          class="password-reset-form"
          style="width: 100%"
          floatLabel="always"
        >
          <mat-label style="display: none"> </mat-label>
          <mat-icon matPrefix>mail_outline</mat-icon>
          <input
            class="mat-input"
            type="email"
            matInput
            formControlName="email"
            placeholder="beispielname@email.de"
          />

          @if (emailFormReset.get('email')?.hasError('email') &&
          !emailFormReset.get('email')?.hasError('required')) {
          <mat-error>
            Bitte geben Sie eine gültige E-Mail-Adresse ein
          </mat-error>
          } @if (emailFormReset.get('email')?.hasError('required')) {
          <mat-error> Die E-Mail ist <strong>erforderlich</strong> </mat-error>
          }
        </mat-form-field>
      </form>

      <p class="card-note">
        Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
      </p>
    </mat-card-content>

    <mat-card-actions class="bottom-actions">
      <button
        class="confirm-mail-btn"
        mat-button
        [disabled]="emailFormReset.invalid"
      >
        E-Mail senden
      </button>
    </mat-card-actions>
  </mat-card>
</div>
