<div class="password-reset-wrapper">
  <mat-card class="password-reset-card" appearance="outlined">
    <mat-card-actions class="top-actions-desktop">
      <button class="arrow-back-btn" mat-icon-button (click)="navigateToSignIn()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-actions>

    <mat-card-header>
      <mat-card-actions class="top-actions-mobile">
        <button class="arrow-back-btn" mat-icon-button (click)="navigateToSignIn()">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </mat-card-actions>

      <mat-card-title>
        <h1 class="card-title-mobile">Passwort<br />zurücksetzen</h1>
      </mat-card-title>

      <mat-card-title>
        <h1 class="card-title-desktop">Passwort zurücksetzen</h1>
      </mat-card-title>

      <mat-card-subtitle>
        <p class="card-subtitle">Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="emailFormReset" (ngSubmit)="resetPassword()">
        <mat-form-field style="width: 100%" floatLabel="always">
          <mat-icon matPrefix>mail_outline</mat-icon>
          <input class="mat-input" type="email" matInput formControlName="email" placeholder="beispielname@email.de" />
          <mat-error *ngIf="emailFormReset.get('email')?.errors?.['required']">E-Mail ist erforderlich!</mat-error>
          <mat-error *ngIf="emailFormReset.get('email')?.errors?.['email']">Ungültiges E-Mail-Format.</mat-error>
          <mat-error *ngIf="emailFormReset.get('email')?.hasError('customError')">{{ resetError }}</mat-error>
        </mat-form-field>
        <div class="form-text-container">
          <p class="card-note" style="width: 100%">
            Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
          </p>
        </div>
        <div class="form-btn-container">
          <button type="submit" class="confirm-mail-btn" mat-button [disabled]="emailFormReset.invalid">
            E-Mail senden
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<app-overlay class="overlay" 
[textOverlay]="textOverlay" 
[iconOverlay]="iconOvarlay"
[showOverlay]="showOverlay">
</app-overlay>