<section class="password-reset-container">
  <div class="password-reset-header-container">
    <app-logo class="logo"></app-logo>
  </div>
  <div class="password-reset-content">
    <div class="password-reset-header-container">
      <div class="password-reset-header-btn-container">
        <button class="arrow-back-btn" (click)="navigateToSignIn()">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>

      <div class="password-reset-title-container">
        <h1 class="headline">Passwort zurücksetzen</h1>
      </div>
    </div>

    <div class="password-reset-subtitle-container">
      <span class="card-subtitle">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
    </div>

    <div class="password-reset-form-container">
      <form class="password-reset-form" [formGroup]="emailFormReset" (ngSubmit)="resetPassword()">
        <mat-form-field class="password-reset-input" appearance="outline">
          <mat-icon class="matPrefix" matPrefix fontSet="material-icons-outlined">mail_outline</mat-icon>
          <input class="mat-input" type="email" matInput formControlName="email" placeholder="beispielname@email.de" />
          <mat-error *ngIf="emailFormReset.get('email')?.errors?.['required']">E-Mail ist erforderlich!</mat-error>
          <mat-error *ngIf="emailFormReset.get('email')?.errors?.['email']">Ungültiges E-Mail-Format.</mat-error>
          <mat-error *ngIf="emailFormReset.get('email')?.hasError('customError')">{{ resetError }}</mat-error>
        </mat-form-field>
        <div class="password-reset-form-note-container">
          <span>
            Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
          </span>
        </div>
        <div class="password-reset-form-btn-container">
          <button type="submit" class="confirm-mail-btn" mat-button [disabled]="emailFormReset.invalid"
            [ngClass]="{ 'button-disabled': emailFormReset.invalid }">
            E-Mail senden
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="password-reset-footer-container">
    <app-privacy-policy class="privacy"></app-privacy-policy>
  </div>
</section>