@use 'mixins.scss' as *;
@use '@angular/material' as mat;

.password-reset-container {
  @include dFlex();
  width: 100vw;
  height: 100vh;

  .password-reset-content {
    @include dFlex($fd: column);
    border-radius: 30px;
    background-color: $white;
    padding: 40px 93px;
    max-width: 698px;
    max-height: 469px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);

    .password-reset-header-container {
      @include dFlex();
      width: 100%;
      margin: 0 0 32px 0;
      gap: 32px;

      .password-reset-header-btn-container {
        width: 40px;
        height: 40px;
        margin-left: -60px;
        @include dFlex();

        .arrow-back-btn {
          @include iconBtnStyle($tc: $black);
        }
      }

      .password-reset-title-container {
        @include dFlex();
        flex-grow: 1;
      }
    }

    .password-reset-subtitle-container {
      @include dFlex();
      width: 100%;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 40px;
      text-align: center;
    }

    .password-reset-form-container {
      @include dFlex($fd: column);
      width: 100%;

      .password-reset-form {
        @include dFlex($fd: column);
        width: 100%;

        .password-reset-input {
          width: 100%;
          @include loginInputStyle($b-radius: 30px);
          margin-bottom: 20px;

          .matPrefix {
            margin: 0 15px 0 24px;
            color: $text-gray;
          }
        }

        .password-reset-form-note-container {
          @include dFlex();
          max-width: 354px;
          font-size: 20px;
          font-weight: 400;
          margin-bottom: 40px;
          text-align: center;
          color: $text-gray;
        }

        .password-reset-form-btn-container {
          @include dFlex($jc: end);
          width: 100%;

          .confirm-mail-btn {
            @include primaryBtnStyle($w: 170px, $h: 49px);
          }
        }
      }
    }
  }
}