.password-reset-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: cadetblue;
}

::ng-deep .mat-mdc-text-field-wrapper {
  border-radius: 2rem !important;
  border: none !important;
  box-shadow: none !important;
}

::ng-deep .mdc-line-ripple {
  display: none !important;
}

::ng-deep .mat-mdc-form-field-required-marker {
  display: none !important;
}

::ng-deep .mat-mdc-form-field-infix {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem !important;
}

::ng-deep .mat-mdc-form-field .mat-input {
  width: 100%;
  text-align: center;
}

::ng-deep .mat-form-field {
  position: relative;
}

::ng-deep .mat-form-field .mat-input {
  padding-left: 30px;
  text-align: left;
  width: calc(100% - 30px);
}

::ng-deep .mat-form-field label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  display: flex;
  align-items: center;
  z-index: 1;
}

::ng-deep .mat-form-field input[matInput] {
  padding-left: 30px;
}
