<div class="card-wrapper">
  <!-- HIER DANN DAS BUBBLE LOGO -->
  <div class="card-self">
    <section class="card-header">
      <app-btn-back-selection class="btn-back-selection" [buttonClass]="'backToSelectionBtn'" [disabled]="false"
        [routerLink]="['/signup']">
      </app-btn-back-selection>

      <div class="headlineOne-wrapper">
        <h1 class="header-titel">Wähle deinen Avatar</h1>
      </div>
    </section>

    <section class="card-body">
      <div class="selected-avatar-wrapper">
        <img class="selected-avatar-img" [src]="selectedAvatarSrc()" alt="Selected Avatar" />
        <h2 class="selected-avatar-name">{{ selectedAvatarName() }}</h2>
      </div>

      <div class="selection-wrapper">
        <h3 class="selection-titel">Wähle eins aus.</h3>

        <div class="avatar-item-wrapper">
          <div *ngFor="let avatar of avatars" class="avatar-item">
            <img [src]="avatar.src" [alt]="avatar.alt" [class.selected]="avatar.id === selectedAvatar"
              (click)="selectAvatar(avatar.id)" />
          </div>
        </div>
      </div>
    </section>

    <section class="card-footer">
      <app-btn-forward-selection class="confirm-chosen-btn" (click)="confirmSelection()"
        [disabled]="!selectedAvatar || buttonDisabled">
      </app-btn-forward-selection>
    </section>
  </div>
</div>