<mat-card>
  <mat-card-header>
    <!-- img für Return einfügen -->
    <mat-card-title>Datenschutzerklärung</mat-card-title>
    <mat-card-subtitle>Letzte Aktualisierung: März 2025</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h2>1. Allgemeine Hinweise</h2>
    <p>
      Wir, das Team von <b>DABubble</b>, nehmen den Schutz deiner persönlichen
      Daten sehr ernst. Diese Datenschutzerklärung informiert dich darüber,
      welche Daten wir erheben, wie wir sie verwenden und welche Rechte du hast.
    </p>
    <h2>2. Verantwortlicher</h2>
    <p>
      Verantwortlich für die Datenverwaltung im Rahmen dieser WebApp ist:<br /><br />
      <b>DABubble Team</b><br /><br />
      dummy&#64;mail.com<br />
      dummy&#64;mail.com<br />
      dummy&#64;mail.com<br />
      dummy&#64;mail.com<br />
      dummy&#64;mail.com<br />
    </p>
    <h2>3. Erhebung und Verarbeitung personenbezogener Daten</h2>
    <p>
      Unsere WebApp verarbeitet personenbezogene Daten nur, wenn dies
      erforderlich ist. Dazu gehören:
    </p>
    <h3>Benutzerdaten:</h3>
    <p>
      Bei der Registrierung werden Name, E-Mail-Adresse und Passwort
      gespeichert.
    </p>
    <h3>Kommunikationsdaten:</h3>
    <p>
      Nachrichten, die in DABubble ausgetauscht werden, werden auf unseren
      Servern gespeichert, um die Chat-Funktion bereitzustellen.
    </p>
    <h3>Nutzungsdaten:</h3>
    <p>
      Wir speichern technische Daten wie IP-Adresse, Browsertyp und
      Zugriffszeiten, um die Sicherheit der Plattform zu gewährleisten.
    </p>
    <h2>4. Speicherung und Löschung der Daten</h2>
    <ul>
      <li>
        Deine Daten werden nur so lange gespeichert, wie es für die Nutzung von
        DABubble erforderlich ist.
      </li>
      <li>
        Du kannst jederzeit eine Löschung deiner Daten beantragen, indem du uns
        kontaktierst.
      </li>
    </ul>
    <h2>5. Weitergabe von Daten an Dritte</h2>
    <p>
      Wir geben deine Daten <b>nicht</b> an Dritte weiter, außer wenn dies aus
      rechtlichen Gründen erfolrderlich ist.<br />
      Allerdings enthält DABubble <b>externe Links zu Google</b>.<br />
      Beim Anklicken solcher Links verlässt du unsere Plattform, und die
      Datenschutzbestimmungen von Google gelten.<br />
      <b>Hinweis:</b> Obwohl unsere Schriftarten nicht von Google geladen
      werden, kann dein Browser beim Besuch externer Links Verbindungsdaten an
      Google senden.
    </p>
    <h2>6. Sicherheit und Verschlüsselung</h2>
    <ul>
      <li>
        Alle Datenübertragungen in <b>DABubble</b> sind durch
        <b>SSL-Verschlüsselung</b> gesichert.
      </li>
      <li>Passwörter werden ausschließlich verschlüsselt gespeichert.</li>
    </ul>
    <h2>7. Cookies</h2>
    <p>
      Falls Cookies verwendet werden, dienen sie ausschließlich funktionalen
      Zwecken (z.B für die Anmeldung) und werden <b>nicht</b> für Werbung oder
      Analysezwecke genutzt.
    </p>
    <h2>8. Deine Rechte als Nutzer</h2>
    <p>Du haßt Recht auf:</p>
    <ul>
      <li><b>Auskunft</b> über die gespeicherten Daten</li>
      <li><b>Berichtigung</b> falscher Daten</li>
      <li><b>Löschung</b> deiner Daten</li>
      <li><b>Widerspruch</b> gegen die Verarbeitung</li>
    </ul>
    <p>Kontakt: dummy&#64;mail.com</p>
    <h2>9. Änderungen dieser Datenschutzerklärung</h2>
    <p>
      Diese Datenschutzerklärung kann gelgentlich akutalisiert werden. Die
      aktuelle Version ist immer auf <b>DABubble</b> verfügbar.
    </p>
  </mat-card-content>
</mat-card>
