<section class="add-user-input-container">
    <div class="add-user-dialog-input-container">
        <div class="user-tags-container" *ngIf="(selectedUsersData$ | async)!.length > 0">
            <span *ngFor="let user of selectedUsersData$ | async" class="user-tag">
                <app-user-card [user]="user" [isSelectedUser]="true"
                    (userRemoved)="removeUserFromSelectedUsers($event.userUid)"></app-user-card>
            </span>
        </div>
        <div #editableDiv class="editable-div" contenteditable="true" placeholder="Name eingeben"
            (input)="onEditableInput(editableDiv)">
        </div>
    </div>
    <app-object-picker *ngIf="objectSelectorIsOpen" [ngStyle]="calculateObjectSelectorPosition(inputRects)"
        [contents]="filteredUsers" (selectedObject)="addUserToSelectedUsers($event.objectId)"></app-object-picker>
</section>