<section *ngIf="user$ | async as user" class="new-message-container">
    <div class="new-message-content">
        <div class="new-message-header">
            <div class="new-message-user-container" (click)="openProfileDialog(user.uid)">
                <div class="new-message-user-img-container">
                    <div class="new-message-user-status {{ user.status }}"></div>
                    <img class="new-message-user-img" src="{{ user.avatar }}" alt="logo">
                </div>
                <span class="new-message-user-name">{{ user.name }}</span>
            </div>
        </div>
        <div class="new-message-chat-container">

                <div *ngIf="messages$ | async as messages;" style="width: 200px; height: 200px;">
                  <div *ngFor="let message of messages">
                    <p><strong>{{ message.senderId }}:</strong> {{ message.receiverId }}</p>
                    <p><strong>{{ message.content }}:</strong> {{ message.messageId }}</p>
                    <small>{{ message.timestamp | date:'short' }}</small>
                  </div>
                </div>

        </div>
        <div class="new-message-input-container">
            <div class="new-message-input-content">
                <div class="new-message-input">
                    <textarea type="text" [(ngModel)]="content" placeholder="Nachricht an {{ user.name }}"></textarea>
                </div>
                <div class="new-message-icons-container">
                    <div class="new-message-prefix-icons">
                        <mat-icon class="prefix-icon">sentiment_satisfied</mat-icon>
                        <mat-icon class="prefix-icon">alternate_email</mat-icon>
                    </div>
                    <mat-icon class="sufix-icon" (click)="sendMessage()">send</mat-icon>
                </div>
            </div>
        </div>
    </div>
</section>