@use 'mixins.scss' as *;
@use '@angular/material' as mat;

.message-container {
    width: 100%;
    height: fit-content;

    .message-content-container {
        width: 100%;
        height: fit-content;
    }
}

