<section class="message-container" *ngFor="let message of (messagesWithUserData$ | async); let i = index">
    <div class="message-content-container">
        <app-message-timestamp *ngIf="shouldShowTimestamp(message, i)" [timestamp]="message.timestamp"></app-message-timestamp>
        <app-message-content *ngIf="!messageEditMode" [message]="message" [sortedReactions]="sortedReactions"></app-message-content>
        <app-message-edit *ngIf="messageEditMode" [message]="message"></app-message-edit>
    </div>
</section>