@use 'styles.scss' as style;
@forward 'styles.scss';

// Objects - positioning
@mixin dFlex($d: flex, $jc: center, $ai: center, $fd: row) {
    display: $d;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}
