@use "mixins.scss" as *;
@use "@angular/material" as mat;

.profile-popup {
  width: 100vw;
  max-width: 500px;
  height: fit-content;
  max-height: 705px;
  border: none;
  border-radius: 30px 30px 30px 30px;
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  z-index: 2;
  font-size: 18px;
  gap: 35px;
  z-index: 100;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: $white;
}

.profile-popup-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
  }

  .profile-popup-close-button {
    @include dFlex();
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    border-radius: 50%;

    mat-icon {
      @include dFlex();
      font-size: 18px;
    }

    &:hover {
      cursor: pointer;
      color: $purple-3;
      background-color: $bgcolor;
    }
  }
}

.profile-popup-image {
  position: relative;
  width: 214px;
  height: 214px;
  @include dFlex();

  img {
    width: 100%;
    height: 100%;
    border-radius: 180px;
  }

  .edit-avatar-overlay {
    position: absolute;
    top: 0;
    width: 218px;
    height: 218px;
    border-radius: 180px;
    @include dFlex($jc: end, $ai: end);

    .edit-avatar-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 4px solid $bgcolor;
      background-color: $white;
      @include dFlex();
      color: $black;
      font-size: 24px;
      font-weight: 700;
      margin-right: 18px;
      margin-bottom: 6px;

      &:hover {
        cursor: pointer;
        background-color: $bgcolor;
        border-color: $white;
        color: $purple-2;
      }
    }
  }
}

.profile-popup-info-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;

  .profile-popup-name-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;

    span {
      font-size: 32px;
      font-weight: 700;
    }

    button {
      width: 100px;
      border: none;
      background-color: transparent;
      padding: 0;
      color: $purple-3;
      font-family: "Nunito";
      font-weight: 600;
      font-size: 18px;

      &:hover {
        cursor: pointer;
        font-weight: 700;
      }
    }
  }

  .profile-popup-status-box {
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 15px;

    span {
      font-size: 32px;
      font-weight: 700;
    }

    .profile-popup-indicator {
      width: 16px;
      height: 16px;
      border-radius: 50px;
    }

    .profile-popup-text {
      font-size: 20px;
      font-weight: 400;
    }

    .profile-popup-text::first-letter {
      text-transform: uppercase;
    }
  }
}

.profile-popup-contact-info {
  @include dFlex($fd: column, $ai: start);
  margin-bottom: 10px;
  width: 100%;

  .profile-popup-contact-mail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 20px;

    span {
      font-size: 20px;
      font-weight: 700;
    }
  }

  .profile-popup-mail-container {
    padding-left: 44px;
    margin-top: 10px;
    width: 100%;

    a {
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      padding: 0;
      color: $blue;

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid $blue;
      }
    }
  }
}

.profile-popup-btn-container {
  width: 100%;
  @include dFlex();
  gap: 32px;

  .profile-popup-contact-send-button {
    @include dFlex();
    @include primaryBtnStyle($w: 164px, $h: 49px);
  }

  .profile-popup-edit-user-save-btn {
    @include dFlex();
    @include primaryBtnStyle($w: 133px, $h: 49px);
  }

  .profile-popup-edit-user-cancel-btn {
    @include dFlex();
    @include secondaryBtnStyle($w: 133px, $h: 49px);
  }
}

.profile-popup-edit-user-form-section {
  width: 100%;
  @include dFlex($jc: start, $fd: column);

  .profile-popup-edit-user-form-container {
    width: 100%;
    @include dFlex($fd: column);

    .profile-popup-edit-user-form {
      width: 100%;
      @include dFlex($fd: column);
      gap: 25px;

      .form-field {
        width: 100%;
        @include primaryInputStyle($b-radius: 30px);
      }
    }
  }
}

.profile-popup-edit-avatar {
  width: 100%;
  @include dFlex($fd: column, $jc: start);

  .choose-container-text-container {
    width: 100%;
    margin-bottom: 16px;
    @include dFlex($jc: start);

    .choose-container-text {
      font-weight: 400;
      font-size: 20px;
    }
  }

  .choose-images-container {
    width: 100%;
    height: 64px;
    @include dFlex($jc: space-between);
    gap: 12px;
    margin-bottom: 22px;

    .choose-image-container {
      width: 60px;
      height: 60px;

      .choose-image {
        width: 60px;
        height: 60px;
        border-radius: 240px;

        &:hover {
          cursor: pointer;
          border: 3px solid $white;
        }
      }
    }
  }
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: flex;
}
