<section class="login-content-container full-height">
    <div class="login-header-container">
        <app-logo class="logo"></app-logo>
        <app-sign-up class="sign-up-header"></app-sign-up>
    </div>
    <div class="login-content">
        <span class="headline">Anmeldung</span>
        <span class="headline-subtext">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
            verwendest.</span>
        <form class="form-container" [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field class="login-input" appearance="outline">
                <input matInput type="email" formControlName="email" placeholder="beispielname@email.com"
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required />
                <mat-icon class="matPrefix" matPrefix fontSet="material-icons-outlined">mail</mat-icon>
                <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">E-Mail ist erforderlich!</mat-error>
                <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">Ungültiges E-Mail-Format.</mat-error>
                <mat-error *ngIf="loginForm.get('email')?.hasError('customError')"></mat-error>
            </mat-form-field>
            <mat-form-field class="login-input" appearance="outline">
                <input class="mat-input" matInput type="password" formControlName="password" required
                    placeholder="Passwort" [type]="hide() ? 'password' : 'text'" />
                <mat-icon class="matPrefix loch-btn" matPrefix type="button" fontSet="material-icons-outlined"
                    (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                    {{hide() ? 'lock' : 'lock_open'}}
                </mat-icon>
                <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">Passwort ist
                    erforderlich!</mat-error>
                <mat-error *ngIf="loginForm.get('password')?.hasError('customError')">{{ loginError }}</mat-error>
            </mat-form-field>

            <div class="login-forgot-password-container">
                <button class="login-forgot-password-btn" type="button" (click)="navigateTo('pass-reset')">
                    Passwort vergessen?
                </button>
            </div>

            <div class="login-seperator-container">
                <div class="login-seperator"></div>
                <span class="login-seperator-text">ODER</span>
                <div class="login-seperator"></div>
            </div>

            <div class="login-google-btn-container">
                <button type="button" class="google-button" (click)="logInWithGoogle()">
                    <img src="assets/img/login-img/Google.png" alt="">
                    Anmelden mit Google
                </button>
            </div>

            <div class="login-btns-container">
                <button class="login-btn" type="submit"
                    [disabled]="!(loginForm.get('email')?.valid && loginForm.get('password')?.value)">Anmelden</button>
                <button class="guest-login-btn" type="button" (click)="logInAnonymous()">Gäste Login</button>
            </div>
        </form>
    </div>
    <div class="login-footer-container">
        <app-privacy-policy class="privacy"></app-privacy-policy>
        <app-sign-up class="sign-up-footer"></app-sign-up>
    </div>
</section>