<div class="background-login">
    <section>
        <h1>Anmeldung</h1>
        <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
        <form action="">
            <div class="login-input-container">
                <img src="/assets/login-img/mail.png" alt="">
                <input id="email" type="email" formControlName="email" placeholder="Gib deine E-Mail ein" />
            </div>
            <div class="login-input-container">
                <img src="/assets/login-img/lock.png" alt="">
                <input id="password" type="password" formControlName="password" placeholder="Gib dein Passwort ein" />
            </div>
        </form>
        <button class="login-new-password">
            Passwort vergessen?
        </button>
        <div class="login-other-contain">
            <div class="login-seperator"></div>
            <p>ODER</p>
            <div class="login-seperator"></div>
        </div>
        <button class="google-button"><img src="/assets/login-img/Google.png" alt="">Anmelden mit Google</button>
        <div class="login-input-container">
            <button>Anmelden</button>
            <button>Gäste Login</button>
        </div>
    </section>
</div>