@import '../../../styles/styles.scss';

mat-card {
    font-family: 'Nunito', sans-serif;
    color: $black;
    background-color: $white;
    min-height: 539px;
    padding: 40px;
    gap: 20px;
    border-radius: 30px;
    max-width: 872px;

    p {
        font-size: 18px;
        font-weight: 400;
        min-height: 50px;
        margin-bottom: 0;
    }

    mat-label .optional-text {
        color: $text-gray;
        font-weight: 400;
    }

    mat-card-content {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 20px;
    }

    mat-card-actions {
        display: flex;
        justify-content: flex-end;
    }

    mat-card-title {
        font-weight: 700;
        font-size: 24px;
    }
    
    mat-label {
        font-size: 18px;
        font-weight: 700;
    }

    input {
        font-size: 18px;
        height: 60px;
        padding: 0px 20px;
        border-radius: 40px;
        border: solid 1px $text-gray;
    
        &:hover {
            cursor: pointer;
            border: solid 1px $light-purple-lines;
        }

        &:focus {
            outline: none;
            border: solid 1px $purple-1;
        }
    
        &::placeholder {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
        }
    }
    
    .input-structure {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    button[mat-button] {
        font-family: 'Nunito', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        cursor: pointer;
        color: white !important;
        border: none;
        background-color: $purple-1;
        width: 120px;
        height: 49px;
        border-radius: 25px;
        padding: 12px 25px;
    }

    .input-container {
        position: relative;
        display: flex;
        align-items: center;
        max-width: 792px;

        input {
            padding: 0px 40px;
        }
    
        .prefix {
            position: absolute;
            left: 20px;
            color: $text-gray;
            font-size: 20px;
            font-weight: bold;
        }

        input.prefix-structure {
            max-width: 792px !important;
            width: 100%;
        }
    }
}

@media (max-width: 430px) {
    .input-container {
        .prefix {
            left: 15px
        }
        input {
            padding: 0px 0px 0px 40px !important;
        }
    }

    input {
        font-size: 16px !important;
        padding: 0px 15px !important;

        &::placeholder {
            font-size: 16px !important;
        }
    }
}

