<mat-card>
  <mat-card-title>Channel erstellen</mat-card-title>
  <mat-card-content>
    <p>
      Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
      themenbezogen sein, z. B. #marketing.
    </p>

    <!-- FormGroup hinzufügen -->
    <div class="input-structure">
      <mat-label>Channel-Name</mat-label>

      <div class="input-container">
        <span class="prefix">#</span>
        <input
          class="prefix-structure"
          matInput
          [(ngModel)]="channelName"
          placeholder="z.B. Koorperationsprojekte"
        />
      </div>

      <mat-label
        >Beschreibung <span class="optional-text">(optional)</span></mat-label
      >
      <input
        matInput
        [(ngModel)]="channelDescription"
        placeholder="Dein Text hier"
      />
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="submit()" mat-button>Erstellen</button>
  </mat-card-actions>
</mat-card>
