@use 'mixins.scss' as *;
@use '@angular/material' as mat;

.sign-up-content-container {
  @include dFlex();
  width: 100vw;
  height: 100vh;

  .sign-up-content {
    @include dFlex($fd: column);
    border-radius: 30px;
    background-color: $white;
    padding: 40px 53px;
    max-width: 606px;
    max-height: 669px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);

    .sign-up-header-container {
      @include dFlex($ai: center);
      width: 100%;
      margin: 0 13px 32px 0;

      .sign-up-header-btn-container {
        width: 40px;
        height: 40px;
        @include dFlex();

        .arrow-back-btn {
          @include iconBtnStyle($tc: $black);
        }
      }

      .sign-up-header-title-container {
        @include dFlex();
        flex-grow: 1;
      }
    }

    .sign-up-header-subtitle-container {
      @include dFlex();
      width: 100%;

      .headline-subtext {
        font-size: 20px;
        text-align: center;
        margin: 0 0 41px 0;
      }
    }

    .sign-up-form-container {
      @include dFlex($fd: column);
      width: 100%;

      .sign-up-form-content {
        width: 100%;

        .sign-up-form {
          @include dFlex($fd: column, $ai: start);
          width: 100%;

          .sign-up-input {
            width: 100%;
            @include loginInputStyle($b-radius: 30px);
            margin-bottom: 20px;

            .matPrefix {
              margin: 0 15px 0 24px;
              color: $text-gray;
            }

            .loch-btn {
              padding: 12px;

              &:hover {
                cursor: pointer;
                border-radius: 80px;
                background-color: $white;
              }
            }
          }

          .checkbox-container {
            width: 100%;
            height: 42px;
            @include dFlex($jc: start, $ai: start, $fd: column);
            margin-top: 20px;

            .checkbox {
              @include mat.checkbox-overrides((state-layer-size: 18px,
                  unselected-hover-state-layer-opacity: 0.07,
                  unselected-hover-state-layer-color: $purple-2,
                  selected-icon-color: $purple-2,
                  unselected-icon-color: $purple-2,
                  unselected-hover-icon-color: $text-gray,
                  unselected-focus-icon-color: $text-gray,
                  selected-hover-icon-color: $purple-2,
                  selected-focus-icon-color: $purple-2,
                  selected-focus-state-layer-color: $purple-1,
                  selected-hover-state-layer-color: $purple-1,
                  unselected-focus-state-layer-color: $purple-1,
                  selected-pressed-state-layer-color: $purple-1,
                  unselected-pressed-state-layer-color: $purple-1,
                ));


              .label-check-box {
                display: flex;
                gap: 4px;
                margin-left: 11px;
                font-size: 16px;
                font-weight: 400;
                color: $text-gray;
              }
            }

            .checkbox_error {
              margin-left: 30px;
            }
          }
        }
      }

      .choose-container {
        width: 100%;
        @include dFlex($fd: column, $jc: start);

        .choose-container-user {
          @include dFlex($fd: column);
          margin: 56px 0 8px 0;
          gap: 32px;

          .choose-container-user-image {
            max-width: 168px;
            width: 100%;
            height: 168px;
            height: 100%;
            border-radius: 100px;
            margin-bottom: 32px;
          }

          .choose-container-user-name {
            font-weight: 700;
            font-size: 32px;
            text-align: center;
          }
        }

        .choose-container-text-container {
          width: 100%;
          margin-bottom: 16px;
          @include dFlex($jc: start);

          .choose-container-text {
            font-weight: 400;
            font-size: 20px;
          }
        }

        .choose-images-container {
          width: 100%;
          height: 64px;
          @include dFlex($jc: space-between);
          gap: 12px;
          margin-bottom: 62px;

          .choose-image-container {
            width: 64px;
            height: 64px;

            .choose-image {
              width: 64px;
              height: 64px;
              border-radius: 240px;

              &:hover {
                cursor: pointer;
                border: 3px solid $white;
              }
            }
          }
        }
      }

      .form-btn-container {
        @include dFlex($jc: end);
        padding-top: 10px;

        .form-btn {
          @include primaryBtnStyle($w: 107px, $h: 49px);
        }
      }
    }
  }
}

.overlay {
  position: absolute;
  bottom: 0;
}