@use 'mixins.scss' as *;
@use '@angular/material' as mat;

.hover-overlay-menu-container {
    @include dFlex();
    z-index: 300;
    width: fit-content;
    gap: 8px;
    background-color: $white;
    border: 1px solid $light-purple-lines;
    border-radius: 30px 30px 0 30px;
    padding: 4px 8px 4px 8px;

    button {
        @include iconBtnStyle($tc: black);
    }
}

.hover-overlay-menu-container-reverse-style {
    border-radius: 30px 30px 30px 0 !important;
}

.emoji-picker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}