<section class="header-container">
    <div class="header-content">
        <div *ngIf="!workSpaceLogoIsVisible" class="header-logo-container">
            <img class="header-logo" src="assets/img/logos/logo.png" alt="logo">
            <h1 class="header-title">DABubble</h1>
        </div>
        <div *ngIf="workSpaceLogoIsVisible" class="workspace-logo-container">
            <mat-icon class="workspace-icon">keyboard_arrow_left</mat-icon>
            <img class="header-logo" src="assets/img/logos/workspace-logo.png" alt="logo">
            <h1 class="header-title workspace-title">Devspace</h1>
        </div>
        <div class="header-input-container">
            <app-header-search-bar></app-header-search-bar>
        </div>
        <div class="header-profile-container" (click)="toogleMenus()">
            <h1 class="header-profile-name">Max Mustermann</h1>
            <div class="header-profile-img-container">
                <div class="header-user-online-status" [ngClass]="userStatus"></div>
                <img class="header-profile-img" src="assets/img/profile-images/profile-1.png" alt="logo">
            </div>
            <mat-icon>{{ menuIcon }}</mat-icon>
        </div>
    </div>
</section>