<app-header (toogleSidenav)="toggleSidenav()"></app-header>
<mat-sidenav-container class="sidenav_container" [hasBackdrop]="false">
    <mat-sidenav #sidenav [mode]="'push'" [position]="'start'" [opened]="'true'">
        <div class="sidenav-content">
            <button (click)="openNewMessage()">New Message</button>
            <button (click)="openChannel()">Test Channel</button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet name="pageContentOutlet"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<div class="toogle-sidenav-container">
    <div class="toggle-sidenav-button" (click)="toggleSidenav()">
        Workspace-Menü 
        {{ toggleButtonText }}
        <div *ngIf="sideNavIsOpen" class="toggle-sidenav-button-icon hide-icon"></div>
        <div *ngIf="!sideNavIsOpen" class="toggle-sidenav-button-icon show-icon"></div>
    </div>
</div>