@use 'mixins.scss' as *;
@use '@angular/material' as mat;

.user-card-container {
    width: max-content;
    max-height: 58px;
    height: 100%;
    border-radius: 30px;
    gap: 15px;
    @include dFlex();
    padding: 8px 24px 8px 24px;

    &:hover {
        cursor: pointer;
        background-color: $bgcolor;
    }

    .user-card-img-container {
        width: 50px;
        height: 50px;
        @include dFlex($jc: end, $ai: end);

        .user-card-user-img {
            width: 100%;
            height: 100%;
            border-radius: 180px;
        }

        .user-card-user-status {
            width: 14px;
            height: 14px;
            border: 2px solid $bgcolor;
            border-radius: 80px;
            position: absolute;
        }
    }

    .user-card-user-name {
        font-weight: 400;
        font-size: 18px;
    }

    .user-card-close-button {
        @include dFlex();
        background-color: $bgcolor;
        border: none;
        color: black;

        &:hover {
            cursor: pointer;
            color: $purple-3;
        }

        mat-icon {
            width: 100%;
            height: 100%;
            font-size: 18px;
        }
    }
}

.isSelectedUserStyle {
    background-color: $bgcolor;
}