<section class="message-content" [ngClass]="{'chat-bubble-reverse-positioning': !message.isSender }"
    [ngStyle]="{ 'background-color': hoveredMessageId === viewContext + '-' + message.messageId ? 'rgb(237, 238, 254)' : 'rgba(255, 255, 255, 1)'}"
    (mouseenter)="handleMessageHover(true, message.messageId)"
    (mouseleave)="handleMessageHover(false, message.messageId)">
    <div class="message-content-user-content">
        <div class="hover-overlay-menu-container" [ngClass]="{'chat-bubble-reverse-positioning': message.isSender }">
            <app-hover-overlay-menu class="hover-overlay-menu"
                *ngIf="hoveredMessageId === viewContext + '-' + message.messageId" [message]="message"
                [viewContext]="viewContext" [isOriginalMessage]="isOriginalMessage"
                (emojiSelected)="emitedEmojiSelected($event.emoji, $event.messageId, $event.messageFrom)"></app-hover-overlay-menu>
        </div>
        <div class="message-content-user-name" [ngClass]="{'chat-bubble-reverse-positioning': !message.isSender }">
            <span class="message-timestamp">{{ message.timestamp | date:'HH:mm'}} Uhr</span>
            <span class="message-user-name">{{ message.senderData.name }}</span>
        </div>
        <div class="message-content-user-message" [ngClass]="{'chat-bubble-reverse-positioning': !message.isSender }">
            <span class="message-bubble" [ngClass]="{'chat-bubble-reverse-desing': !message.isSender }"
                [innerHTML]="renderedMessage" (click)="handleMentionClick($event)">
            </span>
        </div>
        <div class="message-content-answers-info-container" *ngIf="messageAnswers[message.messageId]?.length > 0"
            [ngClass]="{'chat-bubble-reverse-positioning': !message.isSender }">
            <div class="message-answers-info">
                <span>{{ messageAnswers[message.messageId]?.length }} Antworten</span>
                <span>Lezte Antwort {{ message.lastAnswerTimestamp | date:'HH:mm' }}</span>
            </div>
        </div>
        <div class="message-content-message-reaction-container"
            [ngClass]="{'chat-bubble-reverse-positioning': !message.isSender }"
            *ngIf="sortedReactions[message.messageId]?.length > 0">
            <ng-container *ngIf="sortedReactions[message.messageId] as reactions">
                <div class="emoji-wrap-container">
                    <div class="reacted-emojis-container"
                        *ngFor="let reaction of reactions.slice(0, expandedReactions[message.messageId] ? reactions.length : displayedEmojisCount)"
                        [ngClass]="{'chat-bubble-reverse-positioning': !message.isSender }">
                        <div class="reacted-emoji"
                            (click)="handleEmojiClick(reaction.emoji, message.messageId, message.messageFrom)"
                            (mouseenter)="onEmojiMouseEnter(reaction.emoji.unicode)" 
                            (mouseleave)="onEmojiMouseLeave()">
                            <span>{{ reaction.emoji?.unicode }}</span>
                            <span>{{ reaction.counter }}</span>
                        </div>

                        <div class="emoji-tooltip" *ngIf="hoveredReaction === reaction.emoji.unicode">
                            <ng-container *ngIf="reactionUsernamesMap[reaction.emoji.unicode]; else loading">
                                {{ reactionUsernamesMap[reaction.emoji.unicode].join(', ') }}
                            </ng-container>
                            <ng-template #loading>Betöltés...</ng-template>
                        </div>
                    </div>

                    <div class="reacted-emojis-container"
                        *ngIf="reactions.length > displayedEmojisCount && !expandedReactions[message.messageId]"
                        [ngClass]="{'chat-bubble-reverse-positioning': !message.isSender }">
                        <div class="reacted-emoji mehr-button" (click)="expandedReactions[message.messageId] = true">
                            <span>+{{ reactions.length - displayedEmojisCount }}</span>
                            <span>Mehr</span>
                        </div>
                    </div>

                    <div class="reacted-emojis-container"
                        *ngIf="reactions.length > displayedEmojisCount && expandedReactions[message.messageId]"
                        [ngClass]="{'chat-bubble-reverse-positioning': !message.isSender }">
                        <div class="reacted-emoji mehr-button" (click)="expandedReactions[message.messageId] = false">
                            <span>&#x25B2;</span>
                            <span>Weniger</span>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="add-reaction-container">
                <button>
                    <mat-icon (click)="openCloseEmojiPicker($event, message.messageId)">add_reaction</mat-icon>
                </button>
                <app-emoji-picker *ngIf="showEmojiPicker[message.messageId]"
                    [buttonRect]="buttonRects[message.messageId]" class="emoji-picker" (click)="closeAllPickers()"
                    (emojiSelected)="addEmojiSelected($event, message.messageId, message.messageFrom)"></app-emoji-picker>
            </div>
        </div>
    </div>
    <div class="message-content-user-img" [ngClass]="{'avatar-reverse-design': !message.isSender }">
        <img src="{{ message.senderData.avatar }}" alt="Avatar">
    </div>
</section>