<section class="password-reset-content-container">
  <div class="password-reset-content">
    <div class="password-reset-header-container">
      <div class="password-reset-header-btn-container">
        <button class="arrow-back-btn" (click)="navigateToSignIn()">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>

      <div class="password-reset-header-title-container">
        <h1 class="headline">Passwort zurücksetzen</h1>
      </div>
    </div>

    <div class="password-reset-form-container">
      <form class="password-reset-form" [formGroup]="passwordFormReset" (ngSubmit)="resetPassword()">
        <mat-form-field class="password-reset-input" appearance="outline">
          <mat-icon class="matPrefix loch-btn" matPrefix type="button" fontSet="material-icons-outlined"
            (click)="showPassword($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword()">
            {{hidePassword() ? 'lock' : 'lock_open'}}
          </mat-icon>
          <input [type]="hidePassword() ? 'password' : 'text'" class="mat-input" type="password" matInput
            formControlName="password" placeholder="Neues Passwort" />
          <mat-error *ngIf="passwordFormReset.get('password')?.errors?.['required']">Passwort ist
            erforderlich!</mat-error>
          <mat-error *ngIf="passwordFormReset.get('password')?.errors?.['minlength']">Minimale Länge: 8.</mat-error>
          <mat-error *ngIf="passwordFormReset.get('password')?.errors?.['pattern']">Das Passwort muss Klein- und
            Großbuchstaben, Zahlen und Sonderzeichen enthalten.</mat-error>
        </mat-form-field>
        <mat-form-field class="password-reset-input" appearance="outline">
          <mat-icon class="matPrefix loch-btn" matPrefix type="button" fontSet="material-icons-outlined"
            (click)="showConfirmPassword($event)" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideConfirmPassword()">
            {{hideConfirmPassword() ? 'lock' : 'lock_open'}}
          </mat-icon>
          <input [type]="hideConfirmPassword() ? 'password' : 'text'" class="mat-input" type="password" matInput
            formControlName="confirmPassword" placeholder="Neues Passwort bestätigen" />
          <mat-error *ngIf="passwordFormReset.get('confirmPassword')?.errors?.['required']">Bestätigung des Passworts
            ist erforderlich!</mat-error>
          <mat-error *ngIf="passwordFormReset.get('confirmPassword')?.hasError('customError')">{{ passwordDoNotMatch
            }}</mat-error>
        </mat-form-field>
        <div class="form-btn-container">
          <button class="confirm-password-btn" mat-button type="submit" 
          [disabled]="passwordFormReset.get('password')?.invalid || !passwordFormReset.get('confirmPassword')?.value"
          [ngClass]="{ 'button-disabled': passwordFormReset.get('password')?.invalid || !passwordFormReset.get('confirmPassword')?.value}">
            Passwort ändern
          </button>
        </div>
      </form>
    </div>

    <div class="invalid-reset-link-container">
      <span class="invalid-reset-link-text">{{errorMessage}}</span>
    </div>
  </div>
</section>