<div class="password-reset-wrapper">
  <mat-card class="password-reset-card" appearance="outlined">
    <mat-card-actions class="top-actions-desktop">
      <button class="arrow-back-btn" mat-icon-button (click)="navigateToSignIn()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-actions>

    <mat-card-actions class="top-actions-mobile">
      <button class="arrow-back-btn" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-actions>

    <mat-card-header>
      <mat-card-title>
        <h1 class="card-title-mobile">Passwort<br />zurücksetzen</h1>
      </mat-card-title>

      <mat-card-title>
        <h1 class="card-title-desktop">Passwort zurücksetzen</h1>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="passwordFormReset" (ngSubmit)="resetPassword()">
          <mat-form-field style="width: 100%" floatLabel="always">
            <button mat-icon-button matPrefix type="button" (click)="showPassword($event)"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword()"
              [disabled]="passwordFormReset.disabled">
              <mat-icon>{{hidePassword() ? 'lock' : 'lock_open'}}</mat-icon>
            </button>
            <input [type]="hidePassword() ? 'password' : 'text'" class="mat-input" type="password" matInput
              formControlName="password" placeholder="Neues Passwort" />
              <mat-error *ngIf="passwordFormReset.get('password')?.errors?.['required']">Passwort ist erforderlich!</mat-error>
              <mat-error *ngIf="passwordFormReset.get('password')?.errors?.['minlength']">Password must be at least 8 characters</mat-error>
              <mat-error *ngIf="passwordFormReset.get('password')?.errors?.['pattern']">Das Passwort muss Klein- und Großbuchstaben, Zahlen und Sonderzeichen enthalten.</mat-error>
          </mat-form-field>
          <mat-form-field style="width: 100%" floatLabel="always">
            <button mat-icon-button matPrefix type="button" (click)="showConfirmPassword($event)"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword()"
            [disabled]="passwordFormReset.disabled">
            <mat-icon>{{hideConfirmPassword() ? 'lock' : 'lock_open'}}</mat-icon>
          </button>
          <input [type]="hideConfirmPassword() ? 'password' : 'text'" class="mat-input" type="password" matInput
            formControlName="confirmPassword" placeholder="Neues Passwort bestätigen" />
            <mat-error *ngIf="passwordFormReset.get('confirmPassword')?.errors?.['required']">Bestätigung des Passworts ist erforderlich!</mat-error>
            <mat-error *ngIf="passwordFormReset.get('confirmPassword')?.hasError('customError')">{{ passwordDoNotMatch }}</mat-error>
          </mat-form-field>
          <div class="form-btn-container">
            <button class="confirm-password-btn" mat-button type="submit"
            [disabled]="passwordFormReset.get('password')?.invalid 
            || !passwordFormReset.get('confirmPassword')?.value">
              Passwort zurücksetzen
            </button>
          </div>
        </form>
    </mat-card-content>

    <mat-card-content class="invalid-reset-link-container">
      <span class="invalid-reset-link-text">{{errorMessage}}</span>
    </mat-card-content>
  </mat-card>
</div>

<app-overlay class="overlay" 
[textOverlay]="textOverlay" 
[iconOverlay]="iconOvarlay"
[showOverlay]="showOverlay">
</app-overlay>