@use 'mixins.scss' as *;
@use '@angular/material' as mat;

.password-reset-content-container {
  @include dFlex();
  width: 100vw;
  height: 100vh;

  .password-reset-content {
    @include dFlex($fd: column);
    border-radius: 30px;
    background-color: $white;
    padding: 40px 90px;
    max-width: 692px;
    max-height: 450px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);

    .password-reset-header-container {
      @include dFlex();
      width: 100%;
      margin: 0 0 40px 0;
      gap: 32px;

      .password-reset-header-btn-container {
        width: 40px;
        height: 40px;
        margin-left: -60px;
        @include dFlex();

        .arrow-back-btn {
          @include iconBtnStyle($tc: $black);
        }
      }

      .password-reset-header-title-container {
        @include dFlex();
        flex-grow: 1;
      }
    }

    .password-reset-form-container {
      @include dFlex($fd: column);
      width: 100%;
      padding: 0 56px;

      .password-reset-form {
        @include dFlex($fd: column);
        width: 100%;

        .password-reset-input {
          width: 100%;
          @include loginInputStyle($b-radius: 30px);
          margin-bottom: 20px;

          .matPrefix {
            margin: 0 15px 0 24px;
            color: $text-gray;
          }

          .loch-btn {
            padding: 12px;

            &:hover {
              cursor: pointer;
              border-radius: 80px;
              background-color: $white;
            }
          }
        }

        .form-btn-container {
          @include dFlex($jc: end);
          width: 100%;
          margin-bottom: 20px;

          .confirm-password-btn {
            @include primaryBtnStyle($w: 188px, $h: 49px);
          }
        }
      }
    }

    .invalid-reset-link-container {
      @include dFlex();
      width: 100%;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      color: $rosa;
    }
  }
}