<div class="password-reset-wrapper">
    <mat-card class="password-reset-card" appearance="outlined">
        <mat-card-actions class="top-actions-desktop">
            <button class="arrow-back-btn" mat-icon-button>
                <mat-icon>arrow_back</mat-icon>
            </button>
        </mat-card-actions>

        <mat-card-header class="card-header">
            <mat-card-actions class="top-actions-mobile">
                <button class="arrow-back-btn" mat-icon-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </mat-card-actions>

            <mat-card-title>
                <h1 class="card-title-mobile">
                    Passwort<br />
                    zurücksetzen
                </h1>
            </mat-card-title>

            <mat-card-title>
                <h1 class="card-title-desktop">Passwort zurücksetzen</h1>
            </mat-card-title>

            <mat-card-subtitle>
                <p class="card-subtitle">Bitte geben Sie Ihr neues Passwort ein.</p>
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="passwordFormReset">
                <!-- Passwort Eingabefeld -->
                <mat-form-field class="password-reset-form" style="width: 100%" floatLabel="always">
                    <mat-label>Neues Passwort</mat-label>
                    <mat-icon matPrefix>lock_outline</mat-icon>
                    <input class="mat-input" type="password" matInput formControlName="password"
                        placeholder="Passwort eingeben" />
                    <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide()">
                        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>

                    @if (passwordFormReset.get('password')?.hasError('required')) {
                    <mat-error>
                        Das Passwort ist <strong>erforderlich</strong>
                    </mat-error>
                    }

                </mat-form-field>

                <!-- Passwort Bestätigung Eingabefeld -->
                <mat-form-field class="password-reset-form" style="width: 100%" floatLabel="always">
                    <mat-label>Passwort bestätigen</mat-label>
                    <mat-icon matPrefix>lock_outline</mat-icon>
                    <input class="mat-input" type="password" matInput formControlName="confirmPassword"
                        placeholder="Passwort bestätigen" />

                    @if (passwordFormReset.get('confirmPassword')?.hasError('required')) {
                    <mat-error>
                        Bitte bestätigen Sie Ihr Passwort.
                    </mat-error>
                    }

                    @if (!passwordsMatch()) {
                    <mat-error>
                        Die Passwörter stimmen nicht überein.
                    </mat-error>
                    }
                </mat-form-field>
            </form>

            <p class="card-note">
                Bitte bestätigen Sie Ihr neues Passwort.
            </p>
        </mat-card-content>

        <mat-card-actions class="bottom-actions">
            <button class="confirm-password-btn" mat-button [disabled]="passwordFormReset.invalid || !passwordsMatch()">
                Passwort zurücksetzen
            </button>
        </mat-card-actions>
    </mat-card>
</div>