<section *ngIf="user$ | async as user" class="new-message-container">
    <div class="new-message-content">
        <div class="new-message-header">
            <div class="new-message-user-container" (click)="openProfileDialog(user.uid)">
                <div class="new-message-user-img-container">
                    <div class="new-message-user-status {{ user.status }}"></div>
                    <img class="new-message-user-img" src="{{ user.avatar }}" alt="logo">
                </div>
                <span class="new-message-user-name">{{ user.name }}</span>
            </div>
        </div>
        <div class="new-message-chat-container">
            <div class="new-message-chat-content">
                <app-chat class="app-message"></app-chat>
            </div>
        </div>
       <app-message-input-field [content]="user" (messageSent)="onMessageReceived($event)"></app-message-input-field>
    </div>
</section>