@use 'mixins.scss' as *;
@use '@angular/material' as mat;

.sign-up-container {
    @include dFlex();

    .sign-up-content {
        @include dFlex($fd: column);

        span {
            font-size: 20px;
            font-weight: 400;
            color: $black;
            margin-bottom: 12px;

            @media (max-width: 560px) {
                font-size: 18px;
                margin-bottom: 8px;
            }
        }

        button {
            color: $purple-2;
            border-radius: 30px;
            padding: 10px 15px;
            font-size: 18px;
            font-weight: 400;
            border: 1px solid $bgcolor;

            &:hover {
                cursor: pointer;
                border: 1px solid $text-gray;
                color: $purple-1;
            }

            @media (max-width: 560px) {
                padding: 5px 7px;
            }
        }
    }
}