@use 'mixins.scss' as *;
@use '@angular/material' as mat;

.privacy-policy-container {
    width: 100vw;
    @include dFlex();
    position: absolute;
    bottom: 0;

    .privacy-policy-content {
        width: 100vw;
        @include dFlex();
        margin: 0 0 58px 0;
        gap: 16px;

        button {
            color: $purple-2;
            border-radius: 30px;
            border: 1px solid $bgcolor;
            padding: 10px 15px;
            font-size: 18px;
            font-weight: 400;

            &:hover {
                cursor: pointer;
                border: 1px solid $text-gray;
                color: $purple-1;
            }
        }
    }
}